<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recall</title>
    <link href="/public/reset.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <header>
      <hgroup>
        <h1><a href="/">Total Recall</a></h1>
        <h2>'cause you're too busy to remember</h2>
      </hgroup>
      <p id="flash_error"><%= flash[:error] %></p>
      <p id="flash_message"><%= flash[:message] %></p>
      <p id="flash_notice"><%= flash[:notice] %></p>
    </header>

    <div id="main">
        <% if current_user %>
            <P>Welcome <%=  current_user.nickname  %></P>
            <%= yield %>
        <% else %>
            <a href='/auth/twitter'>Login with Twitter</a>
        <% end %>
    </div>

    <footer>
      <p><small>An app for <a href="http://net.tutsplus.com">Nettuts+</a>.</small></p>
      <p><small>Extended as an exercise by <a href="http://github.com/nclaburn/totalrecall">nclaburn</a>.</small></p>
    </footer>
</body>
</html>